/**
 * Implement jQuery EasyUI v.1.4 GPL Edition on Yii2
 * since  : v.0.0.1
 * author   : sheillendra
 * date     : 2014-10-04
 * website  : demo.dodeso.com
 */

a:focus{
    outline: none
}
.tabs-icon,
.panel-icon,
.textbox-icon{
    line-height: 18px;
}

.textbox-icon{
    text-align: center;
}
.accordion-body > .l-btn,
.accordion-body > .l-btn:hover{
    background: none;
    border:none;
    display: table;
}

.accordion-body > .l-btn:hover > span > span.l-btn-text{
    text-decoration: underline;
}

.l-btn-icon {
    font-size: unset !important;
}
