html,
body {
    height: 100%;
}
body {
    background-color: #fff;
    color: #333;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 8px;
    line-height: 1.42857;
}

#north-right-nav {
    float:right;
}

.nav-btn {
    display: block !important;
    border-radius:0 !important;
    border-left :0 !important;
    border-right :0 !important;
    margin: 1px 0 !important;
    text-align: left !important;
    padding-left: 20px !important;
}

#maintab > .tabs-panels > .panel {
    padding: 5px;
}

.toolbar {
    border-bottom: 1px solid #000;
    padding:2px 0;
}

.l-btn-icon.fa {
    font-size: unset;
}